
<head>
	<%=javascript_pack_tag 'house', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag  'application'  %>


<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

</head>

<body>
<div class="titles">
	<a> EXPERIENCE AMAZING <br>
	ACCELERATING THE FUTURE <br>
	BEAUTY IS NOT ENOUGH <br>
	BEYOND RELATION <br>
	POWER OF YOUR CONTROL <br>
	</a>
	</div>


</body>
