<%= stylesheet_link_tag 'application' %>

<div class="cashdesks">
<%= image_tag 'cash02.png', alt: 'cash desk rendering', style: "margin-top: 10rem;" %>
<%= image_tag 'cash01.png', alt: 'cash desk', class:'cashdesk' %>
</div>
<div class="cashtext"
<p>An economic exchange demands <br>
  anonymization of relationships. <br>
  The law of the contract <br>
  (the contract and the trust) <br>
  form the benchmarks for <br>
  the execution of the exchange.
  At this level, the full, individual, <br>
  unmistakable and incomparable phenomenality of the <br>
  people involved <br>
  must be ignored.</p>
</div>
