<head>
</head>
<%= image_tag "fences02.png", class: "fence", width: "100%" %>

<p class="fence-text"> "A fence’s integrity rests on its ability to enclose <br>
  what one is unwilling or unable to offer. <br>
  Yet despite sound construction, <br>
  internal structures may move outward, <br>
  in the sense that to move is also to shift states.” <br>
  (Saretta Morgan)
</p>
