<head>
<%= stylesheet_link_tag 'application' %>

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
</head>

<body>
<title>
  knotting hill - mind is the nexus in which nature emerges
</title>
<%= image_tag "knots.png", alt: "knots", class: "knots"%>


<p class="dialogue">
Doctor: <br>
Say, how have you been?<br>
Have you already related to people,<br>
made some friends,<br>
as I advised you to?<br>
Patient: <br>
No! Hasn’t worked yet.<br>
D: <br>
Oh, that is very sad. <br>
I told you, one can also relate intensley to things.<br>
P: <br>
Yes, I already started collecting sculptures! <br>
There are also a few good ones!<br>
D: <br>
Ah! Yes, yes, <br>
that is something already! <br>
That really is something already! <br>
That is something. <br>
Isn’t that something already, <br>
that is already something! <br>
Sculptures, indeed friends for people in need.<br>
That’s what I used to say. <br>
An old phrase of mine.<br>
Indeed, sometimes a sculpture has a thing a person doesn’t have.<br>
Look! <br>
It’s heavy. It’s heavy. <br>
It’s very heavy.<br>
P: <br>
Heavy!!<br>
D: <br>
Well, here’s a little test: <br>
Whose socks are my socks? <br>
P: <br>
Yours, doctor.<br>
D: <br>
Correct!<br>
Let’s get rid of them.<br>
So, what am I possibly going to do with you?<br>
P: <br>
What a terrific sculpture! Can I touch it?<br>
D:<br>
 No! Nobody is allowed to grapple it!<br>
P: <br>
Hihi, <br>
whatever.
</p>
</body>
