<head>
  <%= stylesheet_link_tag 'application' %>


  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
</head>

<body class="stripes">
<div class="draussen">
<p>this will be a pretty page about anything that does not quite fit</p>
</div>
</body>
