<head>
  <%= stylesheet_link_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="stripes">
<div class="draussen">
<p>this will be a pretty page about anything that does not quite fit</p>
</div>
</body>
